<div class="main">
    <div class="leftpanel">
        <h3 class="heading">FARM FITTING</h3>
        
        <div class="row">
            <div class="col-sm">
                <button class="btn loginbtn"><a href="/login">Login</a></button>
            </div>
            <div class="col-sm">
                <button class="btn registerbtn"><a href="/register">Register</a></button>
            </div>
        </div>
        <div>
            <p class="text-bottom" style="font-size: 18px;">Skill Development Project</p>
        </div>
    </div>
    <img src="../../../assets/image/leaf.png" width="50%" height="50%" class="leafimg" alt="leafimage" />
</div>