.header
{
    background-color: #266041;
    padding: 10px;
}

nav
{
    font-family: "Roboto", sans-serif;
    color: #fff;
}

a
{
    text-decoration: none;
    color: #fff;
}
a:hover
{
    color: black;
}

li
{
    margin: 0px 15px;
}

.logo
{
    font-family: "Script MT";
    font-size: 30px;
    text-align: center;
    color: #888888;
    margin-top: -10px;
}

.logo .logo-font
{
    color: #fff;
}
.fa
{
    margin-right: 5px;
}