<div class="header">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand logo" href="/home"><span class="logo-font">Farm Fitting</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fa fa-bars fa-lg"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/aboutus">Aboutus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactus">Feedback</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/weatherreport">Weather</a>
                </li>
                <li></li><div class="form-group" id="google_translate_element"></div>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        translate
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li *ngFor="let lang of languages">
                            <span class="dropdown-item" style="color: #000;">{{lang[0]}}</span>
                        </li>
                        
                    </ul>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="/notebook">Notebook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cropinfo">Crop Suggestion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/soil-fertility-maps">soil-fertility-maps</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="Logout()" style="cursor: pointer;">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
</script>
    
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>