<div>
    <app-header></app-header>
    <div class="homecontent">
        <div class="hero_area">
          <section class="why_section layout_padding">
            <div class="container">
              <div class="heading_container heading_center">
                <h2>
                  Why Choose <span>Us</span> ?
                </h2>
              </div>
              <div class="row">
                <div class="col-md-6 mx-auto">
                  <div class="box">
                    <div class="img-box">
                        <i class="fa fa-plus-circle fa-2x" style="color: green;" aria-hidden="true"></i>
                    </div>
                    <div class="detail-box">
                      <h5>
                        Crop Suggestions
                      </h5>
                      <p>
                          We provided Crop videos based on the searches given by the user. Here our users can search for different types of crop cultivation methods which are provided by youtube apis
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mx-auto">
                  <div class="box">
                    <div class="img-box">
                        <i class="fa fa-sticky-note fa-2x" style="color: green;" aria-hidden="true"></i>
                    </div>
                    <div class="detail-box">
                      <h5>
                        Notebook of Expences/ Revenues
                      </h5>
                      <p>
                        Usually when we are trying to make manual note of expenses and revenues, we may get error in calculating profit/loss. To get rid of this we provided a notebook to get rid of this problem
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mx-auto">
                  <div class="box">
                    <div class="img-box">
                        <i class="fa fa-map-o fa-2x" style="color: green;" aria-hidden="true"></i>
                    </div>
                    <div class="detail-box">
                      <h5>
                        Soil Fertility Maps
                      </h5>
                      <p>
                        When farmers want to cultiate a new crop, he should know about what amount of minerals are available in his land. To know whether sufficient amount of minerals available or not , We provide soil fertility maps
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
<br><br><br><br><br>
          <section class="about_section layout_padding-bottom">
            <div class="container " style="color: #fff;">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="img-box">
                    <img src="../../../assets/image/about-img.jpg" alt="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="detail-box">
                    <div class="heading_container">
                      <h2>
                        About <span>Us</span>
                      </h2>
                    </div>
                    <p>
                      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                      in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                      are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
                      the middle of text. All
                    </p>
                    <a href="">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </section>
        
          <footer class="footer_section">
            <div class="container">
              <a href="/home" class="footer-brand">
                Farm Fitting
              </a>
              <div class="row">
                <div class="col-lg-10 mx-auto">
                  <div class="footer_items">
                    <div class="row">
                      <div class="col-md-4">
                        <a href="">
                          <div class="item ">
                            <div class="img-box ">
                              <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <p>
                              Vijayawada,<br>Andhra Pradesh
                            </p>
                          </div>
                        </a>
                      </div>
                      <div class="col-md-4">
                        <a href="">
                          <div class="item ">
                            <div class="img-box ">
                              <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <p>
                              +91 8523697412
                            </p>
                          </div>
                        </a>
                      </div>
                      <div class="col-md-4">
                        <a href="">
                          <div class="item ">
                            <div class="img-box">
                              <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <p>
                              kluniversity@gmail.com
                            </p>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="social-box">
                <h4>
                  Follow Us
                </h4>
                <div class="box">
                  <a href="">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </footer>
    </div>
</div>