.searchbox
{
	position: fixed;
	width: 620px;
    margin: 30px auto;
	left: 45%;
}

.searchinput
{
    margin-left: 10px;
}

.form-control:focus {
    box-shadow: none;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.leftdisplay
{
	margin-left: 20px;
}

.box {
	padding: 30px 10px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
	margin-top: 75px;
    margin-bottom: 25px;
}


.align-center {
	align-items: center;
}

.video-block {
	position: relative;
}
.video-block .video-image {
	position: relative;
	/* margin-top: 30px; */
}
@media (min-width: 768px) {
	.video-block .video-image {
		width: 75%;
		margin: 0 auto;
	}
}
.video-block .video-image .img-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(45deg, #009cd5, #0069b9);
	opacity: 0.9;
	border-radius: 10px;
}
.video-block .video-image img {
	height: 400px;
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 5px 30px -3px rgba(0, 0, 0, 0.1);
}

.rightdisplay
{
	position: fixed;
	top: 27%;
	width: 55%;
	right: 2%;
	
}

/* .videodisplay
{
	margin: 0 auto;
	border-radius: 15px;
} */

.card
{
	border-radius: 15px;
}

.rightvideodisplay
{
	width: 100%;
	height: auto;
	padding: 12px;
	/* margin-left: 50px; */
}

iframe
{
	border-radius: 10px;
}

.paginatorclass
{
	padding: 30px 10px;
	background-color: #fff;
	width: 35%;
	height: 75px;
	border-radius: 20px;
	margin-left: 50px;
	margin-bottom: 20px;
}

pagination-controls
{
	margin-bottom: 30px;
	font-size: 20px;
}

