.leftpanel
{
	width: 450px;
    height: 100vh;
    margin-left: 100px;
    background-color: #266041;
    position: absolute;
    top: 0px;
    /* z-index: -1; */
    animation: TopToBottom 2s;
}

.leafimg
{
    width: 90px;
    height: 75px;
    margin-left: 175px;
    margin-top: 80px;
    /* z-index: 1; */
    position: absolute;
    animation: TopToBottomLeaf 2s;
}

a
{
    text-decoration: none;
    color: #000;
}

.text-bottom
{
    margin: 0px auto;
    color: #fff;
    margin-top: 100px;
    margin-left: 125px;
}

.heading
{
	margin-left: 80px;
	margin-top: 350px;
    color: #fff;
    font-size: 45px;
}

.btn
{
	border-radius: 15px;
	width: 80px;
	height: 45px;
	margin-top: 125px;
    background-color: #c2c2c2;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

input
{
    border: none;
}

button
{
    border: none;
    cursor: pointer;
}

.loginbtn
{
	margin-left: 60px;
}

.registerbtn
{
	margin-left: 75px;
}

.validate-input 
{
    position: relative;
}

.limiter 
{
    width: 40%;
    margin: 0 auto;
    margin-left: 400px;
    position: absolute;
    top: 15%;
}

.login-panel
{
    margin-left: 300px;
    width: 400px;
}

.wrap-login 
{
    width: 400px;
    margin-right: 0px;
    background: #2E6D38;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 45px;
}

.login-form 
{
    width: 290px;
}

.login-form-title 
{
    font-family: Poppins-Bold;
    font-size: 24px;
    color: #fff;
    line-height: 1.2;
    text-align: center;

    width: 100%;
    display: block;
    font-weight: bold;
    padding-bottom: 54px;
}

.wrap-input 
{
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.input 
{
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;

    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.focus-input 
{
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.8);
}

.input:focus + .focus-input 
{
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow 
{
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

@keyframes anim-shadow 
{
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

.symbol-input 
{
    font-size: 15px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input:focus + .focus-input + .symbol-input 
{
    color: #57b846;
    padding-left: 28px;
}

.container-login-form-btn 
{
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login-form-btn 
{
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    /* text-transform: uppercase; */

    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login-form-btn2
{
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    cursor: auto;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #474b46;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login-form-btn:hover 
{
    background: #333333;
}

@media (max-width: 992px) 
{
    .wrap-login {
        padding: 45px;
    }

    .login-pic {
        width: 35%;
    }

    .login-form {
        width: 50%;
    }
}

@media (max-width: 768px) 
{
    .wrap-login {
        padding: 40px;
    }

    .login-pic {
        display: none;
    }

    .login-form {
        width: 100%;
    }
}

@media (max-width: 576px) 
{
    .wrap-login {
        padding: 30px;
    }
}

.validate-input 
{
    position: relative;
}
.alert-validate::before 
{
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;

    font-family: Poppins-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

.alert-validate:hover:before 
{
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

.txt2
{
    color: rgb(109, 109, 230);
}

@keyframes TopToBottom {
    0%   {
        margin-left: 100px;
        margin-top: -1000px;
    }
    100% {
        margin-left: 100px;
        margin-top: 0px;
    }
}

@keyframes TopToBottomLeaf {
    0%   {
        margin-left: 100px;
        margin-top: -100px;
    }
    100% {
        margin-left: 175px;
        margin-top: 80px;
    }
}