<div class="main">
    <div>
        <app-index></app-index>
    </div>

    <div class="limiter">
        <div class="container login-panel">
            <div class="wrap-login">

                <form class="login-form validate-form" [formGroup]="LoginForm" (ngSubmit)="Submit()">
                    <span class="login-form-title">
                        Login
                    </span>
                    <div class="wrap-input validate-input" data-validate="Valid email is required: ex@abc.xyz" style="margin-left: 8px;">
                        <input class="input" type="email" formControlName="email" (blur)="ValidateEmail()" pattern="[^@\s]+@[^@\s]+" placeholder="Email" required>
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div>
                        <span *ngIf="invalidemail"><small style="color: rgb(238, 117, 117); margin-left: 30px; margin-top: -20px;">invalid Email</small></span>
                    </div>
                    <div class="wrap-input validate-input" data-validate="Password is required" style="margin-left: 8px;">
                        <input class="input" type="password" formControlName="password" (blur)="ValidatePassword()" placeholder="Password" required>
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div>
                        <span *ngIf="invalidpass"><small style="color: rgb(238, 117, 117); margin-left: 30px; margin-top: -20px;">Password must contain atleast 8 letters</small></span>
                    </div>
                    <div class="container-login-form-btn">
						<div *ngIf="LoginForm.invalid">
							<button class="login-form-btn2" >Please fill all the fields</button>
						</div>
						<div *ngIf="!LoginForm.invalid">
							<button class="login-form-btn" (click)="Submit()">Login</button>
						</div>
					</div>
                    <!-- <div class="container-login-form-btn">
                        <button class="login-form-btn" [disabled]="LoginForm.invalid">Login</button>
                    </div> -->
                    <br>
                    <div class="text-center p-t-136" style="color: #fff;">
                        not an user? &nbsp;
                        <a class="txt2" href="/register">
                            Create your Account
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>